@page "/cards"

@using FrontWeb.DTO
@using FrontWeb.Components
@using Radzen.Blazor
@using Radzen.Blazor.Rendering

@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime;

<h3>Cards</h3>

<RadzenButton Shade="Shade.Darker" Click=@(args => OpenModal()) Text="New Card" ButtonStyle="ButtonStyle.Primary" />
<p />

<RadzenDataGrid TItem="CardDTO" Data="@cards" PagerPosition="PagerPosition.Bottom" AllowPaging="true" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Center" AllowSorting="true">
    <Columns>
        <RadzenDataGridColumn TItem="CardDTO" Property="Bank" Title="Bank" Width="250px">
            <HeaderTemplate>
                <strong style="font-size:medium">Bank</strong>
            </HeaderTemplate>
        </RadzenDataGridColumn>

        <RadzenDataGridColumn TItem="CardDTO" Property="Number" Title="Number">
            <HeaderTemplate>
                <strong style="font-size:medium">Number</strong>
            </HeaderTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CardDTO" Property="Expiration" Title="Expiration">
            <HeaderTemplate>
                <strong style="font-size:medium">Expiration</strong>
            </HeaderTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CardDTO" Property="Brand" Title="Brand">
            <HeaderTemplate>
                <strong style="font-size:medium">Brand</strong>
            </HeaderTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CardDTO" Property="Active" Title="Active">
            <HeaderTemplate>
                <strong style="font-size:medium">Active</strong>
            </HeaderTemplate>
            <Template Context="card">
                <RadzenCheckBox Value="card.Active == 1" Name="Active" TriState="false" Disabled="false" ReadOnly="true" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CardDTO" Property="Actions">
            <Template Context="card">
                <RadzenButton Click="@(args => Edit(card))" Icon="edit" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Medium" />
                <RadzenButton Click="@(args => Delete(card))" Icon="delete" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Medium" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

<ErrorMessage ErrorVisible="@errorVisible" ErrorMessage="@errorMessage" />

<ModalDialog @ref="@modalDialog" Title=@TitleModal>
    <EditCardForm card="card" OnValidSubmit="HandleValidSubmit" />
</ModalDialog>

@code {

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter]
    public ModalDialog modalDialog { get; set; }

    [Parameter]
    public EditCardForm editCardForm { get; set; }

    // private int i;

    // Using the ErrorMessage Component
    private bool errorVisible { get; set; }
    private string errorMessage { get; set; }

    private CardDTO card = new CardDTO();
    private List<CardDTO> cards = new List<CardDTO>();

    private String TitleModal = "New Card";

    protected override async Task OnInitializedAsync()
    {
        await LoadCards();
    }

    private async Task LoadCards()
    {
        var allCards = await HttpClient.GetFromJsonAsync<List<CardDTO>>("/api/Card");

        cards = allCards;

        Console.WriteLine($"LoadCards: _cards.Count = {cards.Count}");
        StateHasChanged();
    }

    private async void HandleValidSubmit()
    {
        if (await Save())
        {
            await OnValidSubmit.InvokeAsync();
            await modalDialog.Close();
        }
    }

    private async Task OpenModal(CardDTO cardToEdit = null)
    {
        if (cardToEdit != null)
        {
            this.card = cardToEdit;
            TitleModal = "Edit Card";
        }
        else
        {
            this.card = new CardDTO();
            TitleModal = "New Card";
        }

        await modalDialog.Open();
    }

    private async Task<bool> Save()
    {
        if (card == null)
            return false;

        var response = card.IdCard == 0
            ? await HttpClient.PostAsJsonAsync<CardDTO>($"/api/Card/", card) // New card, use POST
            : await HttpClient.PutAsJsonAsync<CardDTO>($"/api/Card/{card.IdCard}", card); // Existing card, use PUT for update

        if (response.IsSuccessStatusCode)
        {
            // _cards = await HttpClient.GetFromJsonAsync<List<Card>>("/api/Card"); // Refresh the card list
            await LoadCards();
            StateHasChanged();

            return true; // Return true indicating successful save
        }
        else
        {
            Console.WriteLine($"Error saving Card: {response.StatusCode} - {await response.Content.ReadAsStringAsync()}");
            return false; // Return false indicating save failed
        }
    }

    private async Task Edit(CardDTO card)
    {
        await OpenModal(card);
    }

    private async Task Delete(CardDTO card)
    {
        var confirmDelete = await JSRuntime.InvokeAsync<bool>("confirm", new object[] { "Are you sure you want to delete this card?" });

        if (confirmDelete)
        {
            try
            {
                var response = await HttpClient.DeleteAsync($"/api/Card/{card.IdCard}");
                if (response.IsSuccessStatusCode)
                {
                    // Remove the card from the list and update List
                    cards.Remove(card);
                    StateHasChanged();
                }
                else
                {
                    // Extract error message from response body
                    var errorContent = await response.Content.ReadAsStringAsync();
                    int startIndex = errorContent.IndexOf("SQLite Error");
                    var errorSubstring = errorContent.Substring(startIndex, 48);
                    errorMessage = $"Error: {errorSubstring}";
                    errorVisible = true;
                }
            }
            catch (Exception ex)
            {
                // Handle Network Error
                errorVisible = true;
                errorMessage = $"Error: {ex.Message}";
            }
        }
    }
}