@page "/cards"

@using SamaCardAll.Infra.Models

@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime;

<h3>Cards</h3>

<button class="btn btn-primary" @onclick="() => OpenModal()">New Card</button>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Bank</th>
            <th>Number</th>
            <th>Expiration</th>
            <th>Brand</th>
            <th>Active</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var card in _cards.Skip((currentPage - 1) * recordsPerPage).Take(recordsPerPage))
        {
            <tr>
                <td>@card.IdCard</td>
                <td>@card.Bank</td>
                <td>@card.Number</td>
                <td>@card.Expiration</td>
                <td>@card.Brand</td>
                <td>
                    <input type="checkbox" id="cardActive" checked="@(card.Active == 1)" readonly />
                </td>
                <td>
                    <!-- Action buttons for editing/deleting -->
                    <button class="btn btn-primary" @onclick="() => Edit(card)">Edit</button>
                    <button class="btn btn-danger" @onclick="() => Delete(card)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        @if (currentPage > 1)
        {
            <li class="page-item"><button class="page-link" @onclick="() => OnPageChanged(currentPage - 1)">Previous</button></li>
        }

        @for (int i = 1; i <= Math.Ceiling((double)_cards.Count / recordsPerPage); i++)
        {
            <li class="@(currentPage == i ? "page-item active" : "page-item")">
                <button class="page-link" @onclick="() => OnPageChanged(i)">@i</button>
            </li>
        }

        @if (Math.Ceiling((double)_cards.Count / recordsPerPage) > currentPage)
        {
            <li class="page-item"><button class="page-link" @onclick="() => OnPageChanged(currentPage + 1)">Next</button></li>
        }
    </ul>
</nav>

<ModalDialog @ref="@modalDialog" Title=@TitleModal>
    <EditCardForm card="card" OnValidSubmit="HandleValidSubmit"/>
</ModalDialog>

@code {

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter]
    public ModalDialog modalDialog { get; set; }

    [Parameter]
    public EditCardForm editCardForm { get; set; }

    private Card card = new Card();

    private List<Card> _cards = new List<Card>();

    private String TitleModal = "New Card";

    private int currentPage = 1;
    private int recordsPerPage = 5;

    protected override async Task OnInitializedAsync()
    {
        _cards = await HttpClient.GetFromJsonAsync<List<Card>>("/api/Card");
    }

    private async void HandleValidSubmit()
    {
        if (await Save())
        {
            await OnValidSubmit.InvokeAsync();
            modalDialog.Close();
        }
    }

    private void OnPageChanged(int newPage)
    {
        currentPage = newPage;
    }

    private void OpenModal(Card cardToEdit = null)
    {
        if (cardToEdit != null)
        {
            this.card = cardToEdit;
            TitleModal = "Edit Card";
        }
        else
        {
            this.card = new Card();
            TitleModal = "New Card";
        }

        modalDialog.Open();
    }

    private async Task<bool> Save()
    {
        if (card == null)
            return false;

        var response = card.IdCard == 0
            ? await HttpClient.PostAsJsonAsync<Card>($"/api/Card/", card) // New card, use POST
            : await HttpClient.PutAsJsonAsync<Card>($"/api/Card/{card.IdCard}", card); // Existing card, use PUT for update

        if (response.IsSuccessStatusCode)
        {
            _cards = await HttpClient.GetFromJsonAsync<List<Card>>("/api/Card"); // Refresh the card list
            return true; // Return true indicating successful save
        }
        else
            return false; // Return false indicating save failed
    }

    private void Edit(Card card)
    {
        OpenModal(card);
    }

    private async Task Delete(Card card)
    {
        var confirmDelete = await JSRuntime.InvokeAsync<bool>("confirm", new object?[] { "Are you sure you want to delete this card?" });

        if (confirmDelete)
        {
            var response = await HttpClient.DeleteAsync($"/api/Card/{card.IdCard}");
            if (response.IsSuccessStatusCode)
            {
                // Remove the card from the list
                _cards.Remove(card);
            }
        }
    }

}