@page "/customers"

@using FrontWeb.DTO
@using FrontWeb.Components
@using System.Text.Json
@using Radzen.Blazor
@using Radzen.Blazor.Rendering

@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime;

<h3>Customers</h3>

<RadzenButton Shade="Shade.Darker" Click=@(args => OpenModal()) Text="New Customer" ButtonStyle="ButtonStyle.Primary" />
<p />

<RadzenDataGrid TItem="CustomerDTO" Data="@customers" PagerPosition="PagerPosition.Bottom" AllowPaging="true" PageSize="5" PagerHorizontalAlign="HorizontalAlign.Center" AllowSorting="true">
    <Columns>
        <RadzenDataGridColumn TItem="CustomerDTO" Property="CustomerName" Title="Customer">
            <HeaderTemplate>
                <strong style="font-size:medium">Customer</strong>
            </HeaderTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CustomerDTO" Property="Active" Title="Active">
            <HeaderTemplate>
                <strong style="font-size:medium">Active</strong>
            </HeaderTemplate>
            <Template Context="customer">
                <RadzenCheckBox Value="customer.Active ==1" Name="Active" TriState="false" Disabled="false" ReadOnly="true" />
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="CustomerDTO">
            <Template Context="customer">
                <RadzenButton Click=@(args => Edit(customer)) Icon="edit" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Medium" />
                <RadzenButton Click=@(args => Delete(customer)) Icon="delete" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Medium" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>


<ErrorMessage ErrorVisible="@errorVisible" ErrorMessage="@errorMessage" />

<ModalDialog @ref="@modalDialog" Title=@TitleModal>
    <EditForm Model="customer" OnValidSubmit="HandleValidSubmit">
        <RadzenCard class="my-2 mx-auto" Style="max-width: 400px;">
            <div class="col">
                <RadzenText TextStyle="TextStyle.Subtitle2">Customer Name</RadzenText>
                <RadzenTextBox @bind-Value="customer.CustomerName" Style="width: 350px" />
                <br />
                <br />
                <RadzenText TextStyle="TextStyle.Subtitle2">Active</RadzenText>
                <RadzenCheckBox @bind-Value="IsCardActive" />
            </div>
        </RadzenCard>
    </EditForm>
    <div class="col-md-12 d-flex align-items-end justify-content-left mt-4">
        <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" Click="@(() => HandleValidSubmit())" />
    </div>
</ModalDialog>

@code {
    private bool IsCardActive
    {
        get => customer.Active == 1;
        set => customer.Active = value ? (short)1 : (short)0;
    }
}

@code {
    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter]
    public ModalDialog modalDialog { get; set; }

    // Using the ErrorMessage Component
    private bool errorVisible { get; set; }
    private string errorMessage { get; set; }

    private CustomerDTO customer = new CustomerDTO();

    private List<CustomerDTO> customers = new List<CustomerDTO>();

    private String TitleModal = "New Customer";

    protected override async Task OnInitializedAsync()
    {
        customers = await HttpClient.GetFromJsonAsync<List<CustomerDTO>>("/api/Customer");
    }

    private async void HandleValidSubmit()
    {
        if (await Save())
        {
            await OnValidSubmit.InvokeAsync();
            await modalDialog.Close();
        }
    }

    private async Task OpenModal(CustomerDTO customerToEdit = null)
    {
        if (customerToEdit != null)
        {
            this.customer = customerToEdit;
            TitleModal = "Edit Customer";
        }
        else
        {
            this.customer = new CustomerDTO();
            TitleModal = "New Customer";
        }

        await modalDialog.Open();
    }

    private async Task<bool> Save()
    {
        if (customer == null)
            return false;

        var response = customer.IdCustomer == 0
            ? await HttpClient.PostAsJsonAsync<CustomerDTO>($"/api/Customer/", customer) // New customer, use POST
            : await HttpClient.PutAsJsonAsync<CustomerDTO>($"/api/Customer/{customer.IdCustomer}", customer); // Existing customer, use PUT for update

        if (response.IsSuccessStatusCode)
        {
            customers = await HttpClient.GetFromJsonAsync<List<CustomerDTO>>("/api/Customer"); // Refresh the customer list
            StateHasChanged();
            return true; // Return true indicating successful save
        }
        else
        {
            Console.WriteLine($"Error saving customer: {response.StatusCode} - {await response.Content.ReadAsStringAsync()}");
            return false; // Return false indicating save failed
        }
    }

    private async Task Edit(CustomerDTO customer)
    {
        await OpenModal(customer);
    }

    private async Task Delete(CustomerDTO customer)
    {
        var confirmDelete = await JSRuntime.InvokeAsync<bool>("confirm", new object[] { "Are you sure you want to delete this Customer?" });

        if (confirmDelete)
        {
            try
            {
                var response = await HttpClient.DeleteAsync($"/api/Customer/{customer.IdCustomer}");
                if (response.IsSuccessStatusCode)
                {
                    // Remove the card from the list
                    customers.Remove(customer);
                    StateHasChanged();
                }
                else
                {
                    // Extract error message from response body
                    var errorContent = await response.Content.ReadAsStringAsync();
                    int startIndex = errorContent.IndexOf("SQLite Error");
                    var errorSubstring = errorContent.Substring(startIndex, 48);
                    errorMessage = $"Error: {errorSubstring}";
                    errorVisible = true;
                }
            }
            catch (Exception ex)
            {
                // Handle Network Error
                errorVisible = true;
                errorMessage = $"Error: {ex.Message}";
            }
        }
    }

    private void ToggleActive(ChangeEventArgs args)
    {
        bool isChecked = (bool)args.Value;
        if (isChecked)
        {
            customer.Active = 1; // Set to 1 when checked
        }
        else
        {
            customer.Active = 0; // Set to 0 when unchecked
        }
    }
}
