@page "/" 

@using Radzen.Blazor
@using Radzen.Blazor.Rendering
@using SamaCardAll.Infra.Models
@using System.Net

@inject IJSRuntime JSRuntime
@inject NotificationService NotificationService
@inject HttpClient HttpClient

<h2>Welcome to SamaCard</h2>

@* Custom Alert *@
<RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Lighter" @bind-Visible="visibleAlert" Close=@OnClose>
    @MessageAlert
</RadzenAlert>

<RadzenCard class="w-100 mb-4">
    <RadzenLabel Text="Select Month/Year" Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" />
    <RadzenDropDown @bind-Value=@monthYear Data=@monthYearList Style="width: 100%; max-width: 200px;" Name="DropDownBindValue" Change="@OnChange" />
    <hr />
    <RadzenCheckBox @bind-Value="@showDataLabels" Name="dataLabels"></RadzenCheckBox>
    <RadzenLabel Text="Show Data Labels" Component="dataLabels" Style="margin-left: 8px; vertical-align: middle;" />
</RadzenCard>

@* Chart to show total per Customer *@
<RadzenChart Visible=true ColorScheme="ColorScheme.Monochrome">
    <RadzenColumnSeries Data=@_customerTotal CategoryProperty="CustomerName" ValueProperty="InstallmentAmount">
        <ChildContent>
            <RadzenSeriesDataLabels Visible="@showDataLabels"/>
        </ChildContent>
        <TooltipTemplate Context="_customerTotal">
            <div>
                <span>@_customerTotal.CustomerName</span> in @_customerTotal.MonthYear:
                <strong>@_customerTotal.InstallmentAmount.ToString("C")</strong>
            </div>
        </TooltipTemplate>
    </RadzenColumnSeries>
    <RadzenValueAxis FormatString="{0:C}">
        <RadzenAxisTitle Text="Total in the Month" />
    </RadzenValueAxis>
    <RadzenCategoryAxis Visible=false TickDistance="100" LineType="LineType.Dotted" Stroke="red" Padding="20" Step="10">
        <RadzenAxisTitle Text="Customer" />
    </RadzenCategoryAxis>
    <RadzenLegend Position="LegendPosition.Bottom" Visible=false/>
</RadzenChart>

<hr />

@* Chart to show total per Card (MOnth/Year) *@
<RadzenChart Visible=true ColorScheme="ColorScheme.Divergent">
    <RadzenDonutSeries Data="@_cardTotal" CategoryProperty="CardName" ValueProperty="InstallmentAmount" TotalAngle="360" StartAngle="360">
        <ChildContent>
            <RadzenSeriesDataLabels Visible="@showDataLabels" />
        </ChildContent>
        <TitleTemplate>
            <div class="rz-donut-content">
                <div>Total Expenses</div>
                <div>for Card</div>
            </div>
        </TitleTemplate>
    </RadzenDonutSeries>
    <RadzenValueAxis FormatString="{0:C}">
        <RadzenAxisTitle Text="Total in the Month" />
    </RadzenValueAxis>
</RadzenChart>

@code {
    bool showDataLabels = true;
    bool visibleAlert = false;

    private string MessageAlert = string.Empty;

    private string monthYear;
    private string _monthYear;
    private IEnumerable<string> monthYearList = new List<string>();
    private IEnumerable<InvoiceDto> _customerTotal = new List<InvoiceDto>();
    private IEnumerable<TotalCardMonthYearDTO> _cardTotal = new List<TotalCardMonthYearDTO>();

    protected override async Task OnInitializedAsync()
    {
        await FetchData();
    }

    private async Task FetchData()
    {
        try
        {
            // Get the list of Month/Years from Installment table (Distinct)
            monthYearList = await HttpClient.GetFromJsonAsync<IEnumerable<string>>("/api/Home/distinct-monthYears");

            _customerTotal = await GetCustomerTotalPerMonthYear(monthYear);

            _cardTotal = await GetCardTotalPerMonthYear(monthYear);
        }
        catch (Exception ex)
        {
            MessageAlert = $"Error fetching data: {ex.Message}";
            visibleAlert = true;

        }
        finally
        {
            StateHasChanged();
        }
    }

    void OnChange(object newMonthYear)
    {
        monthYear = newMonthYear.ToString();

        FetchData();

        // MessageAlert = "The Month/Year Selected was: " + monthYear;
        // visibleAlert = true;
    }

    private async Task<IEnumerable<InvoiceDto>> GetCustomerTotalPerMonthYear(string monthYear)
    {
        if (monthYear is null)
        {
            monthYear = monthYearList.First();
        }

        try
        {
            string encodedMonthYear = WebUtility.UrlEncode(monthYear);
            string url = $"/api/Home/customer/{encodedMonthYear}";
            return await HttpClient.GetFromJsonAsync<IEnumerable<InvoiceDto>>(url);
        }
        catch (Exception ex)
        {
            // TO DO: Handle Error
            MessageAlert = $"Error fetching MonthYear options: {ex.Message}";
            visibleAlert = true;
            return null;
        }
    }

    private async Task<IEnumerable<TotalCardMonthYearDTO>> GetCardTotalPerMonthYear(string monthYear)
    {
        if (monthYear is null)
        {
            monthYear = monthYearList.First();
        }

        try
        {
            string encodedMonthYear = WebUtility.UrlEncode(monthYear);
            string url = $"/api/Home/card/{encodedMonthYear}";
            return await HttpClient.GetFromJsonAsync<IEnumerable<TotalCardMonthYearDTO>>(url);
        }
        catch (Exception ex)
        {
            // TO DO: Handle Error
            MessageAlert = $"Error fetching MonthYear options: {ex.Message}";
            visibleAlert = true;
            return null;
        }
    }
}

@* Test Button call a event *@
<RadzenButton class="rz-border-radius-6" Click="@OnToggle" Text="Attention" Icon="account_circle" Visible="false" />

@code {

    string ToggleButtonText => visibleAlert ? "Hide alert" : "Show alert";

    void OnToggle()
    {
        MessageAlert = "Toggle alert visibility and handle the Close event.";
        visibleAlert = !visibleAlert;
    }

    void OnClose()
    {
        NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "Closed", Detail = "Info" });
    }
}