@page "/"

@using FrontWeb.DTO
@using Microsoft.CSharp.RuntimeBinder
@using Radzen.Blazor
@using Radzen.Blazor.Rendering
@using SamaCardAll.Infra.Models
@using FrontWeb.Components
@using System.Net

@inject IJSRuntime JSRuntime
@inject NotificationService NotificationService
@inject HttpClient HttpClient

<h2>Welcome to SamaCard</h2>

@* Custom Alert *@
<RadzenAlert AlertStyle="AlertStyle.Warning" Shade="Shade.Lighter" @bind-Visible="visibleAlert" Close="@OnClose">
    @MessageAlert
</RadzenAlert>


<div class="d-flex">
    <RadzenCard class="w-100 mb-4" Style="text-align: center;">
        <RadzenLabel Text="Select Month/Year" Component="DropDownBindValue" Style="margin-right: 8px; vertical-align: middle;" />
        <RadzenDropDown @bind-Value=@monthYear Data=@monthYearList Style="width: 100%; max-width: 200px; margin-right: 20px" Name="DropDownBindValue" Change="@OnChange" />
        <RadzenCheckBox @bind-Value="@showDataLabels" Name="dataLabels"></RadzenCheckBox>
        <RadzenLabel Text="Show Data Labels" Component="dataLabels" Style="margin-left: 8px; vertical-align: middle;" />
    </RadzenCard>
</div>

<RadzenCard class="w-100 mb-4" Style="text-align: center;">
    <RadzenLabel Text="Total Spends" Component="TotalSpends" Style="margin-right: 8px; vertical-align: middle; font-size: 24px; color: #FF0000;" />
    <RadzenLabel Text="@totalSpends.ToString("C2")" Component="TotalSpendsValue" Style="margin-right: 8px; vertical-align: middle; font-size: 36px; font-weight: bold; color: #0000FF;" />
</RadzenCard>

@* Chart to show total per Customer *@
<RadzenChart Visible=true ColorScheme="ColorScheme.Monochrome">
    <RadzenColumnSeries Data=@_customerTotal CategoryProperty="CustomerName" ValueProperty="InstallmentAmount">
        <ChildContent>
            <RadzenSeriesDataLabels Visible="@showDataLabels" />
        </ChildContent>
        <TooltipTemplate Context="_customerTotal">
            <div>
                <span>@_customerTotal.CustomerName</span> in @_customerTotal.MonthYear:
                <strong>@_customerTotal.InstallmentAmount.ToString("C")</strong>
            </div>
        </TooltipTemplate>
    </RadzenColumnSeries>
    <RadzenValueAxis FormatString="{0:C}">
        <RadzenAxisTitle Text="Total in the Month" />
    </RadzenValueAxis>
    <RadzenCategoryAxis Visible=false TickDistance="100" LineType="LineType.Dotted" Stroke="red" Padding="20" Step="10">
        <RadzenAxisTitle Text="Customer" />
    </RadzenCategoryAxis>
    <RadzenLegend Position="LegendPosition.Bottom" Visible=false />
</RadzenChart>

<hr />

@* Chart to show total per Card (MOnth/Year) *@
<RadzenChart Visible=true ColorScheme="ColorScheme.Divergent" LegendClick="OnCardSeriesClick">
    <RadzenDonutSeries Data="@_cardTotal" CategoryProperty="CardName" ValueProperty="InstallmentAmount" TotalAngle="360" StartAngle="360">
        <ChildContent >
            <RadzenSeriesDataLabels Visible="@showDataLabels" />
        </ChildContent>
        <TitleTemplate>
            <div class="rz-donut-content">
                <div>Total Expenses</div>
                <div>for Card</div>
            </div>
        </TitleTemplate>
    </RadzenDonutSeries>
    <RadzenValueAxis FormatString="{0:C}">
        <RadzenAxisTitle Text="Total in the Month" />
    </RadzenValueAxis>
</RadzenChart>

@* Add the modal component to your Razor page *@
<ModalDialog @ref="@modalDialog" Title=@TitleModal>
    <ChildContent>
        <RadzenDataGrid Data="@_cardDetails" AllowPaging="false" AllowSorting="true">
            <Columns>
                <RadzenDataGridColumn TItem="DetailedCardDTO" Property="DescriptionSpend">
                    <HeaderTemplate>
                        <strong style="font-size:medium">Spend</strong>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DetailedCardDTO" Property="CustomerName">
                    <HeaderTemplate>
                        <strong style="font-size:medium">Customer</strong>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DetailedCardDTO" Property="InstallmentAmount">
                    <HeaderTemplate>
                        <strong style="font-size:medium">Amount</strong>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="DetailedCardDTO" Property="Installment">
                    <HeaderTemplate>
                        <strong style="font-size:medium">Installment</strong>
                    </HeaderTemplate>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </ChildContent>
</ModalDialog>

@code {
    bool showDataLabels = true;
    bool visibleAlert = false;

    // Detail Modal
    [Parameter]
    public ModalDialog modalDialog { get; set; }

    private string TitleModal = "Card Details";
    bool showModal = false;
    string selectedCardName;
    decimal selectedInstallmentAmount;

    private string MessageAlert = string.Empty;
    private string url = string.Empty;
    private string encodedMonthYear = string.Empty;

    private string monthYear;
    private IEnumerable<string> monthYearList = new List<string>();
    private IEnumerable<InvoiceDto> _customerTotal = new List<InvoiceDto>();
    private IEnumerable<TotalCardMonthYearDTO> _cardTotal = new List<TotalCardMonthYearDTO>();
    private IEnumerable<DetailedCardDTO> _cardDetails = new List<DetailedCardDTO>();
    private decimal totalSpends;

    private void OpenModal() => modalDialog.Open();

    private void CloseModal() => modalDialog.Close();

    private async Task OnCardSeriesClick(object data)
    {
        var cardData = (TotalCardMonthYearDTO)data.GetType().GetProperty("Data").GetValue(data);

        if (cardData != null)
        {
            _cardDetails = await GetCardDetails(cardData.IdCard, monthYear);
            OpenModal();
        }
        else
        {
            MessageAlert = "Error extracting IdCard";
            visibleAlert = true;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        // Retrieve the current Month/Year
        monthYear = DateTime.Now.ToString("MM/yyyy");

        await FetchData();
    }

    private async Task FetchData()
    {
        try
        {
            // Get the list of Month/Years from Installment table (Distinct)
            url = "/api/Home/distinct-monthYears";
            monthYearList = await HttpClient.GetFromJsonAsync<IEnumerable<string>>(url);

            _customerTotal = await GetCustomerTotalPerMonthYear(monthYear);

            _cardTotal = await GetCardTotalPerMonthYear(monthYear);

            await SummarizeSpends();
        }
        catch (Exception ex)
        {
            MessageAlert = $"Error fetching data: {ex.Message}";
            visibleAlert = true;

        }
        finally
        {
            StateHasChanged();
        }
    }

    /*
    * Summarize the total spends for the selected Month/Year
    */
    private async Task SummarizeSpends()
    {
        if (monthYearList == null || !monthYearList.Any())
        {
            // Retrieve the current Month/Year
            monthYear = DateTime.Now.ToString("MM/yyyy");
        }
        else if (string.IsNullOrEmpty(monthYear))
        {
            monthYear = monthYearList.First();
        }

        try
        {
            encodedMonthYear = WebUtility.UrlEncode(monthYear);
            url = $"/api/Home/summarize/{encodedMonthYear}";
            totalSpends = await HttpClient.GetFromJsonAsync<Decimal>(url);
        }
        catch (Exception ex)
        {
            MessageAlert = $"Error summarizing spends: {ex.Message}";
            visibleAlert = true;
        }
        finally
        {
            StateHasChanged();
        }
    }

    void OnChange(object newMonthYear)
    {
        monthYear = newMonthYear.ToString();

        FetchData();

        // MessageAlert = "The Month/Year Selected was: " + monthYear;
        // visibleAlert = true;
    }

    private async Task<IEnumerable<InvoiceDto>> GetCustomerTotalPerMonthYear(string monthYear)
    {

        if (monthYearList == null || !monthYearList.Any())
        {
            // Retrieve the current Month/Year
            monthYear = DateTime.Now.ToString("MM/yyyy");
        }
        else if (string.IsNullOrEmpty(monthYear))
        {
            monthYear = monthYearList.First();
        }

        try
        {
            encodedMonthYear = WebUtility.UrlEncode(monthYear);
            url = $"/api/Home/customer/{encodedMonthYear}";
            return await HttpClient.GetFromJsonAsync<IEnumerable<InvoiceDto>>(url);
        }
        catch (Exception ex)
        {
            // TO DO: Handle Error
            MessageAlert = $"Error fetching MonthYear options: {ex.Message}";
            visibleAlert = true;
            return null;
        }
    }

    private async Task<IEnumerable<TotalCardMonthYearDTO>> GetCardTotalPerMonthYear(string monthYear)
    {
        if (monthYearList == null || !monthYearList.Any())
        {
            // Retrieve the current Month/Year
            monthYear = DateTime.Now.ToString("MM/yyyy");
        }
        else if (string.IsNullOrEmpty(monthYear))
        {
            monthYear = monthYearList.First();
        }

        try
        {
            encodedMonthYear = WebUtility.UrlEncode(monthYear);
            url = $"/api/Home/card/{encodedMonthYear}";
            return await HttpClient.GetFromJsonAsync<IEnumerable<TotalCardMonthYearDTO>>(url);
        }
        catch (Exception ex)
        {
            // TO DO: Handle Error
            MessageAlert = $"Error fetching MonthYear options: {ex.Message}";
            visibleAlert = true;
            return null;
        }
    }

    private async Task<IEnumerable<DetailedCardDTO>> GetCardDetails(int idCard, string monthYear)
    {
        if (monthYearList == null || !monthYearList.Any())
        {
            // Retrieve the current Month/Year
            monthYear = DateTime.Now.ToString("MM/yyyy");
        }
        else if (string.IsNullOrEmpty(monthYear))
        {
            monthYear = monthYearList.First();
        }

        try
        {
            encodedMonthYear = WebUtility.UrlEncode(monthYear);
            url = $"/api/Home/detailed-card/{idCard}/{encodedMonthYear}";
            return await HttpClient.GetFromJsonAsync<IEnumerable<DetailedCardDTO>>(url);

        }
        catch (Exception ex)
        {
            // TO DO: Handle Error
            MessageAlert = $"Error fetching Card Details: {ex.Message}";
            visibleAlert = true;
            return null;
        }
    }
}

@* Test Button call a event *@
<RadzenButton class="rz-border-radius-6" Click="@OnToggle" Text="Attention" Icon="account_circle" Visible="false" />

@code {

    string ToggleButtonText => visibleAlert ? "Hide alert" : "Show alert";

    void OnToggle()
    {
        MessageAlert = "Toggle alert visibility and handle the Close event.";
        visibleAlert = !visibleAlert;
    }

    void OnClose()
    {
        NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "Closed", Detail = "Info" });
    }
}