@page "/installments" 

@using FrontWeb.Components
@using SamaCardAll.Infra.Models
@using System.Net

@inject HttpClient HttpClient

<h3>Installments</h3>

<div class="form-group">
    <label class="col-form-label">Customer</label>
    <select @bind="customerId" class="form-select" style="width: 300px">
        <option value="">-- Select Customer --</option>
        @if (_customers != null)
        {
            @foreach (var customer in _customers)
            {
                <option value="@customer.IdCustomer">@customer.CustomerName</option>
            }
        }
    </select>
</div>
<div class="form-group">
    <label class="col-form-label">Month/Year</label>
    <MonthYearFilter @bind-SelectedMonthYear="monthYear" />
</div>

<hr />
<button class="btn btn-primary" @onclick="FetchInstallments">Filter</button>
<hr />

@if (_installments != null && _installments.Any())
{
    <table class="table">
        <thead>
            <tr> 
                <th>Description Spend</th>
                <th>Card</th>
                <th>Month/Year</th>
                <th>Amount</th>
            </tr> 
        </thead>
        <tbody>
            @foreach (var installment in _installments)
            {
                <tr>
                    <td>@installment.DescriptionSpend</td>
                    <td>@installment.CardName</td>
                    <td>@installment.MonthYear</td>
                    <td>@installment.InstallmentAmount.ToString("C")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" style="text-align: right; font-weight:bold">Customer Total:</td>
                <td style="font-weight:bold">@totalInstallmentSum.ToString("C")</td>
            </tr>
        </tfoot>
    </table>
}
else if (isLoading) 
{
    <p class="loading-progress">Loading installments...</p> 
}
else 
{
    <p class="alert">No installments found matching the filters...</p>
}

@code {
    private int? customerId;
    private string monthYear;

    private decimal totalInstallmentSum = 0;

    private async Task HandleMonthYearChange(string newMonthYear)
    {
        monthYear = newMonthYear;
    }

    private List<Customer> _customers = new List<Customer>();

    protected override async Task OnInitializedAsync()
    {
        _customers = await HttpClient.GetFromJsonAsync<List<Customer>>("/api/Customer");
    }

    private IEnumerable<InvoiceDto> _installments;
    private bool isLoading = false;

    private async Task FetchInstallments()
    {
        isLoading = true; // Show loading indicator
        try
        {
            string encodedMonthYear = WebUtility.UrlEncode(monthYear);
            string url = $"/api/Home/{customerId}/{encodedMonthYear}";
            _installments = await HttpClient.GetFromJsonAsync<IEnumerable<InvoiceDto>>(url);

            // Calculate the Sum
            totalInstallmentSum = _installments?.Sum(i => i.InstallmentAmount) ?? 0;
        }
        catch (Exception ex)
        {
            // TO DO: Handle Error
            // Handle fetch errors appropriately
        }
        finally
        {
            isLoading = false;
        }
    }

}

