@page "/invoice"

@using FrontWeb.Components
@using FrontWeb.DTO
@using System.Net
@using Radzen.Blazor
@using Radzen.Blazor.Rendering

@inject HttpClient HttpClient

<h2 class="radzen-heading">Invoice</h2>
<h5 class="radzen-subheading">List of Spends for Customer/Month</h5>

<div class="form-group">
    <RadzenCard>
        <div class="row">
            <div class="col">
                <label class="col-form-label">Customer</label>
                <br />
                <RadzenDropDown @bind-Value="customerId" TValue="int?" Data="@_customers" TextProperty="CustomerName" ValueProperty="IdCustomer" Style="width: 300px">
                    <RadzenDropDownItem TValue="string" Text="-- Select Customer --" Value=""></RadzenDropDownItem>
                </RadzenDropDown>
            </div>
            <div class="col">
                <label class="col-form-label">Month/Year</label>
                <br />
                <RadzenDropDown @bind-Value="monthYear" TValue="string" Data="@monthYearList" Style="width: 200px">
                    <RadzenDropDownItem TValue="string" Text="-- Select Month/Year --" Value=""></RadzenDropDownItem>
                </RadzenDropDown>
            </div>
        </div>
        <br />
        <RadzenButton class="btn btn-primary" Text="Filter" Click="@FetchInstallments"></RadzenButton>
    </RadzenCard>
</div>

@* <hr />
<button class="btn btn-warning" @onclick="UpdateInstallments">Update Installments</button>
<hr />
 *@

@if (_installments != null && _installments.Any())
{
    <br />
    <RadzenDataGrid TItem="InvoiceDto" Data="@_installments" Style="width: 100%; align-items:center; line-height:15px; outline-color:darkcyan">
        <Columns>
            <RadzenDataGridColumn TItem="InvoiceDto" Property="DescriptionSpend" Title="Description Spend" Width="350px">
                <HeaderTemplate>
                    <strong style="font-size:medium">Description Spend</strong>
                </HeaderTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="InvoiceDto" Property="Installment" Title="Installment" Width="150px">
                <HeaderTemplate>
                    <strong style="font-size:medium">Installment</strong>
                </HeaderTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="InvoiceDto" Property="CardName" Title="Card">
                <HeaderTemplate>
                    <strong style="font-size:medium">Card</strong>
                </HeaderTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="InvoiceDto" Property="InstallmentAmount" Title="Amount">
                <HeaderTemplate>
                    <strong style="font-size:medium">Amount</strong>
                </HeaderTemplate>
                <Template Context="data">
                    @data.InstallmentAmount.ToString("C")
                </Template>
            </RadzenDataGridColumn>
        </Columns>
        <FooterTemplate>
            <tr>
                <td colspan="2" style="height: 15px;"></td>
            </tr>
            <tr style="font-weight:bold; font-size:medium; border-top: 1px solid gray; border-bottom: 1px solid gray; color: gray;">
                <td>Customer Total:</td>
                <td>&nbsp;</td> <!-- Add a space between the two <td> elements -->
                <td>@totalInstallmentSum.ToString("C")</td>
            </tr>
            <tr>
                <td colspan="2" style="height: 15px;"></td>
            </tr>
        </FooterTemplate>
    </RadzenDataGrid>
}
else if (isLoading)
{
    <RadzenProgressBar Style="width: 100%" />
}
else
{
    <p class="alert">No installments found matching the filters...</p>
}

@code {
    private int? customerId;
    private string monthYear;
    private IEnumerable<string> monthYearList = new List<string>();

    private decimal totalInstallmentSum = 0;

    private void HandleMonthYearChange(string newMonthYear)
    {
        monthYear = newMonthYear;
    }

    private List<CustomerDTO> _customers = new List<CustomerDTO>();

    protected override async Task OnInitializedAsync()
    {
        isLoading = false;

        try
        {
            _customers = await HttpClient.GetFromJsonAsync<List<CustomerDTO>>("/api/Customer");

            monthYearList = await HttpClient.GetFromJsonAsync<IEnumerable<string>>("/api/Home/distinct-monthYears");

            // Set current month/year if available in the list
            var currentMonthYear = DateTime.Now.ToString("MM/yyyy");
            if (monthYearList.Contains(currentMonthYear))
            {
                monthYear = currentMonthYear;
            }
            else
            {
                monthYear = monthYearList.FirstOrDefault();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching MonthYear options: {ex.Message}");
        }
    }

    private IEnumerable<InvoiceDto> _installments;
    private bool isLoading = true;

    private async Task FetchInstallments()
    {
        isLoading = true; // Show loading indicator
        try
        {
            string encodedMonthYear = WebUtility.UrlEncode(monthYear);
            string url = $"/api/Home/{customerId}/{encodedMonthYear}";
            _installments = await HttpClient.GetFromJsonAsync<IEnumerable<InvoiceDto>>(url);

            // Calculate the Sum
            totalInstallmentSum = _installments?.Sum(i => i.InstallmentAmount) ?? 0;
        }
        catch (Exception ex)
        {
            // TO DO: Handle Error
            Console.WriteLine($"Error fetching MonthYear options: {ex.Message}");
        }
        finally
        {
            isLoading = false;
        }
    }

    // Don't use
    // private async Task UpdateInstallments()
    // {
    //     isLoading = true;
    //     try
    //     {
    //         var response = await HttpClient.PutAsync($"/api/Home", null);
    //     }
    //     catch (Exception ex)
    //     {
    //         Console.WriteLine($"Erro:{ex.Message}");
    //     }
    // }

}

