@page "/spends"

@using SamaCardAll.Infra.Models
@using Radzen.Blazor
@using Radzen.Blazor.Rendering

@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime;
@inject NavigationManager NavigationManager;

<h3>Spends</h3>

<RadzenButton Shade="Shade.Darker" Click=@(args => OpenModal()) Text="New Spend" ButtonStyle="ButtonStyle.Primary" />
<p />

<RadzenDataGrid TItem="Spend" Data="@_spends" PagerPosition="PagerPosition.Bottom" AllowPaging="true" PageSize="8" PagerHorizontalAlign="HorizontalAlign.Center" AllowSorting="true">
    <Columns>
        <RadzenDataGridColumn TItem="Spend" Property="Expenses" Title="Expense" Width="300px">
            <HeaderTemplate>
                <strong style="font-size:medium">Expense</strong>
            </HeaderTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Spend" Property="Spend.Amount" Title="Amount">
            <HeaderTemplate>
                <strong style="font-size:medium">Amount</strong>
            </HeaderTemplate>
            <Template Context="spend">
                @spend.Amount.ToString("C2")
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Spend" Property="Spend.Card.Bank" Title="Card Bank">
            <HeaderTemplate>
                <strong style="font-size:medium">Card Bank</strong>
            </HeaderTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Spend" Property="Spend.Customer.CustomerName" Title="Customer Name">
            <HeaderTemplate>
                <strong style="font-size:medium">Customer Name</strong>
            </HeaderTemplate>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Spend" Property="Actions">
            <Template Context="spend">
                <RadzenButton Click=@(args => Edit(spend)) Icon="edit" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Medium" />
                <RadzenButton Click=@(args => Delete(spend)) Icon="delete" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Medium" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

<ErrorMessage ErrorVisible="@errorVisible" ErrorMessage="@errorMessage" />

<ModalDialog @ref="@modalDialog" Title=@TitleModal>
    <EditSpendForm spend="spend" OnValidSubmit="HandleValidSubmit" pAmount="@amount" pInstallmentValue="@installmentValue" />
</ModalDialog>

@code {

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter]
    public ModalDialog modalDialog { get; set; }

    // Using the ErrorMessage Component
    private bool errorVisible { get; set; }
    private string errorMessage { get; set; }

    private ModalInstallment modalInstallment { get; set; }

    private Spend spend = new Spend();
    private List<Spend> _spends = new List<Spend>();

    private decimal amount;
    private decimal installmentValue;

    private String TitleModal = "New Spend";

    protected override async Task OnInitializedAsync()
    {
        await LoadSpends();
    }

    private async Task LoadSpends()
    {
        // Loading all spends
        var allSpends = await HttpClient.GetFromJsonAsync<List<Spend>>("/api/Spend?include=card,customer");

        _spends = allSpends;

        Console.WriteLine($"LoadSpends: _spends.Count = {_spends.Count}");
        StateHasChanged();
    }

    private async void HandleValidSubmit()
    {
        if (await Save())
        {
            await OnValidSubmit.InvokeAsync();
            modalDialog.Close();
        }
        //modalDialog.Close();
    }

    private void OpenModal(Spend spendToEdit = null)
    {
        if (spendToEdit != null)
        {
            this.spend = spendToEdit;

            amount = this.spend.Amount;
            installmentValue = this.spend.InstallmentValue;

            TitleModal = "Edit Spend";
        }
        else
        {
            this.spend = new Spend();
            TitleModal = "New Spend";
        }

        modalDialog.Open();
    }

    private async Task<bool> Save()
    {
        if (spend == null)
            return false;

            try
            {
                var response = spend.IdSpend == 0
                    ? await HttpClient.PostAsJsonAsync<Spend>($"/api/Spend/", spend) // New spend, use POST
                    : await HttpClient.PutAsJsonAsync<Spend>($"/api/Spend/{spend.IdSpend}", spend); // Existing spend, use PUT for update

                if (response.IsSuccessStatusCode)
                {
                    // Refresh the spend list
                    _spends = await HttpClient.GetFromJsonAsync<List<Spend>>("/api/Spend?include=card,customer");
                    StateHasChanged();
                    return true; // Return true indicating successful save
                }
                else
                {
                    errorVisible = true;
                    errorMessage = $"Error saving Spend: {response.StatusCode} - {await response.Content.ReadAsStringAsync()}";
                    return false; // Return false indicating save failed
                }
            }
            catch (Exception ex)
            {
                // Handle Network Error
                errorVisible = true;
                errorMessage = $"Error: {ex.Message}";
                return false;
            }

    }

    private void Edit(Spend spend)
    {
        OpenModal(spend);
    }

    private async Task Delete(Spend spend)
    {
        var confirmDelete = await JSRuntime.InvokeAsync<bool>("confirm", new object?[] { "Are you sure you want to delete this Spend?" });

        if (confirmDelete)
        {
            try
            {
                var response = await HttpClient.DeleteAsync($"/api/Spend/{spend.IdSpend}");
                if (response.IsSuccessStatusCode)
                {
                    // Remove the spend from the list
                    _spends.Remove(spend);
                    StateHasChanged();
                }
                else
                {
                    // Extract error message from response body
                    var errorContent = await response.Content.ReadAsStringAsync();
                    int startIndex = errorContent.IndexOf("SQLite Error");
                    var errorSubstring = errorContent.Substring(startIndex, 48);
                    errorMessage = $"Error: {errorSubstring}";
                    errorVisible = true;
                }
            }
            catch (Exception ex)
            {
                // Handle Network Error
                errorVisible = true;
                errorMessage = $"Error: {ex.Message}";
            }
        }
    }
}